@font-face {
    font-family: "recoleta";
    src: url("./fonts/Recoleta-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "recoleta";
    src: url("./fonts/Recoleta-Bold.ttf");
    font-weight: bold;
}

/* Bases */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
    outline: none;
}
*:before, *:after {
    box-sizing: inherit;
    outline: none;
}

body {
    font-family: "recoleta", "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: normal;
}